.container{
    width:500px;
    height:500px;
    background-color: aqua;
    position: relative;
}
.box{
    position: absolute;
    width:200px;
    height:200px;
    background-color: blueviolet;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: moves;
    animation-duration: 4s;
}
@keyframes moves{
    0%{
        left:0;
        top:0;
    }
    25%{
        left:300px;
        top:0;
    }
    50%{
        left:300px;
        top:300px;
    }
    75%{
        left:0;
        top:300px;
    }
    100%{
        left:0;
        top:0;
    }
}